@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@200;300&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  position: fixed;
  
  height: 80px;
  width: 100%;
  
  background-color: transparent;
  color: rgb(226, 226, 226);

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;

  transition: all ease-in-out 0.3s;

  z-index: 1;
}

.navbar ul {
  list-style: none;
}

.navbar .nav-items a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  transition: ease-in-out 0.2s;
}

.navbar .nav-items a:hover {
  color: rgb(185, 185, 185);
}

/* navbar items*/
.nav-items {
  display: flex;
}

.nav-items li {
  padding: 7px;
}

.account {
  margin: 0px 10px 0px 0px;
}

.account a {
  text-decoration: none;
  color: white;
  transition: all ease-out 0.3s;
  margin: 4px;
}

.btn-register {
  border: 1px solid rgb(218, 78, 78);
  padding: 10px 15px;
  transition: all ease-out 0.3s;
  border-radius: 4px;
}

.btn-register:hover {
  background: rgb(218, 78, 78);
}

.btn-login:hover {
  color: rgb(212, 212, 212);  
}

.btn-login {
  padding: 0;
  margin: 0;
}

/*Section Main*/

.section-main {
  background-color: rgb(38, 38, 49);
}

.section-one {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  background-image: url('../imgs/background.svg ');
  color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.section-two {
  height: 800px;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(29, 29, 41),rgb(31, 31, 39), rgb(49, 49, 87));
  text-align: center;
  color: rgb(214, 214, 214);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.introduction {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  flex-basis: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction * {
  padding: 10px 0px;
}

.introduction p {
  font-size: 18px;
}

.btn-announcement {
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: purple;
  width: 30%;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 rgb(198, 0, 224);
  transition: all ease-in-out 0.4s;
  font-family: 'Montserrat', sans-serif;
  margin-top: 70px;
}

.btn-announcement:hover {
  box-shadow: inset 0 -50px 0 0 rgb(198, 0, 224);
}

.img-illustration {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


/*Cards*/

.title-products {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 30px 0px;
}

.economy {
  background-color: rgba(240, 88, 88, 0.932);
  padding: 5px;
  color: rgb(243, 182, 182);
  border-radius: 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 360px;
  text-align: center;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 3px 7px rgba(71, 71, 71, 0.514);
  border: solid 1px rgb(121, 121, 121);
  background: linear-gradient(to left, rgb(29, 29, 41),rgb(31, 31, 39), rgb(49, 49, 87));
  color: rgb(201, 200, 200);
  white-space: normal;
  padding: 30px;
  margin: 0px 20px;
  transition: all ease-in-out 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card p {
  font-size: 17px;
}

.card a {
  text-decoration: none;
}

/*Button Cards*/
.card .btn-purchase {
  border-radius: 5px;
  padding: 10px 30px;
  transition: all ease-in-out 0.3s;
  color: rgb(39, 39, 39);
  background-color: rgb(255, 255, 255);
}
.card .btn-purchase:hover {
  padding: 10px 70px;
}

.card-basic .btn-purchase {
  color: white;
  background-color: rgb(99, 162, 221);
}
.card-basic .btn-purchase:hover {
  background-color: rgb(16, 119, 214);
}

.card-premium {
  border: 2px solid rgb(221, 99, 99);
}
.card-premium .btn-purchase {
  color: white;
  background-color: rgb(221, 99, 99);
}
.card-premium .btn-purchase:hover {
  background-color: rgb(209, 65, 65);
}

.card-diamond .btn-purchase {
  background-color: rgb(173, 74, 197);
  color: white;;
}
.card-diamond .btn-purchase:hover {
  background-color: rgb(147, 23, 179);
}

.corp-product {
  display: flex;
  flex-direction: column;
}

.card .prices {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.card .price {
  font-family: 'Rubik', sans-serif;
}

.price-container {
  display: flex;
}
/**/

.prices-descont {
  font-size: 14px;
}

.original-value {
  color: rgb(245, 76, 76);
}

.descont {
  color: rgba(152, 243, 91, 0.842);
}

.ofert {
  font-size: 12px;
  font-weight: bold;
}

.ofert s {
  color: rgb(221, 170, 75);
}

.ofert .price-correct {
  color: rgb(75, 221, 172);
}

.sign-money {
  font-size: 25px;
}

div p {
  font-family: 'M PLUS 1 Code', sans-serif;
}
