<head>
  <link rel="stylesheet" href="css/index.css">
</head>
<nav class="navbar">
  <div class="logo">
    <a href="">
      <img src="https://img.icons8.com/nolan/128/skyatlas.png" width="70px" />
      <h1>Infinite</h1>
    </a>
  </div>
  <div class="nav-items">
    <a href="lorem">Home</a></li>
    <a href="lorem">About</a></li>
    <a href="lorem">Support</a></li>
  </div>
  <div class="account">
    {{#if session}}
    {{#each user}}
    <ul class="dropdown">
      <li class="dropdown-btn"><a href="#">{{dataValues.name}} <i class="far fa-chevron-up"></i></a>
        <ul>
          <li><a href="">Settings <i class="fas fa-cog"></i></a></li>
          <li><a href="/delete/{{dataValues.id}}">Delete <i class="fas fa-trash"></i></a></li>
          <li><a href="/logout/{{dataValues.id}}">Exit <i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
      </li>
    </ul>
    {{/each}}
    {{else}}
    <div class="buttons-account">
      <a href="/login" class="btn-login">Entrar</a>
      <a href="/register"><button class="btn-register btn">Registrar</button></a>
    </div>
    {{/if}}
  </div>
</nav>
<section class="start-session">
  <div class="introduction">
    <div>
      <h1>Lorem Ipsum Dolor Sit Amet Consectetur.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </p>
    </div>
    <div class="announcement">
      <a href=""><button class="btn btn-announcement">Contratar
          Agora</button></a>
      <div>
        <i class="fas fa-check-circle"></i><span>Experimente Já</span>
      </div>
    </div>
  </div>
  <div class="img-illustration">
    <img src="imgs/Server status-amico.svg" height="600px" width="600px">
  </div>
</section>
<section class="apresentation-session">
  <div class="stand-apresentation">
    <h1>Disponivel para as Plataformas:</h1>
    <div>
      <i class="fab fa-apple"></i>
      <i class="fab fa-windows"></i>
      <i class="fab fa-linux"></i>
      <i class="fab fa-fedora"></i>
      <i class="fab fa-ubuntu"></i>
      <i class="fab fa-chrome"></i>
      <i class="fab fa-firefox"></i>
    </div>
  </div>
  <div class="apresentation">
    <div class="apresentation-text">
      <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Tincidunt vitae semper
        quis lectus nulla. Lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
      <a href=""><button class="btn btn-announcement">Contratar
          Agora</button></a>
    </div>
    <img src="/imgs/illustrations-service/Server-amico.svg" width="580px">
  </div>
  <div class="apresentation">
    <img src="/imgs/illustrations-service/Server-pana.svg" width="680px">
    <div class="apresentation-text">
      <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Tincidunt vitae semper
        quis lectus nulla. Lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
      <a href=""><button class="btn btn-announcement">Contratar
          Agora</button></a>
    </div>
  </div>
  <div class="apresentation">
    <div class="apresentation-text">
      <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Tincidunt vitae semper
        quis lectus nulla. Lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
      <a href=""><button class="btn btn-announcement">Contratar
          Agora</button></a>
    </div>
    <img src="/imgs/illustrations-service/Server-rafiki.svg" width="580px">
  </div>
</section>
<hr>
<section class="info-products">
  <div class="title-info">
    <span>Plataformas</span>
    <div class="options">
      <i class="fab fa-apple"></i>
      <i class="fab fa-windows"></i>
      <i class="fab fa-linux"></i>
      <i class="fab fa-fedora"></i>
      <i class="fab fa-ubuntu"></i>
      <i class="fab fa-chrome"></i>
      <i class="fab fa-firefox"></i>
    </div>
  </div>
  <div class="infos-cards">
    <div class="info">
      <div class="title-info-card">
        <i class="fas fa-space-shuttle"></i>
        <h1>Velocidade</h1>
        <hr>
      </div>
      <div class="body-info">
        <span>“Garanta mais velocidade com nossos serviços, além de maior qualidade e otimização em uploads e downloads
          de
          imagens.”</span>
      </div>
      <a href=""><i class="fas fa-info-circle"></i> Mais informações</a>
    </div>
    <div class="info">
      <div class="title-info-card">
        <i class="fas fa-fingerprint"></i>
        <h1>Acesso</h1>
        <hr>
      </div>
      <div class="body-info">
        <span>“Temos um fácil acesso por parte do usuário, além de contar com uma melhor interface para o conforto do
          cliente.”</span>
      </div>
      <a href=""><i class="fas fa-info-circle"></i> Mais informações</a>
    </div>
    <div class="info">
      <div class="title-info-card">
        <i class="fas fa-lock"></i>
        <h1>Segurança</h1>
        <hr>
      </div>
      <div class="body-info">
        <span>“Aqui suas senhas, arquivos e imagens sempre estarão seguros sem nenhum risco de corrompimento ou invasão
          de privacidade, sempre colocamos sua segurança em primeiro lugar.”</span>
      </div>
      <a href=""><i class="fas fa-info-circle"></i> Mais informações</a>
    </div>
  </div>
</section>
<section class="product-purchase">
  <div class="title-container">
    <h1 class="title-products">Lorem Ipsum Dolor Sit</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.</p>
  </div>
  <div class="cards">
    <div class="card card-basic">
      <div style="width:80%;">
        <div class="img-animation">
          <img src="imgs/illustrations-products/basic.png" height="50px">
        </div>
        <h1>Basic</h1>
        <hr style="border: 1px solid rgba(255, 255, 255, 0.562);margin-top: 10px;">
      </div>
      <div class="corp-product">
        <span>1 mês</span>
        <div class="price-container">
          <span class="sign-money">R$</span>
          <span class="prices price">23,99</span>
          <span>BRL</span>
        </div>
        <span class="ofert">R$ 23,99 por mês</span>
      </div>
      <a href="" class="btn-purchase"><i class="fas fa-shopping-cart icon-purchase"></i> Obter Plano</a>
    </div>
    <div class="card card-premium" style="height: 500px;">
      <div style="width:80%;">
        <div class="img-animation">
          <img src="imgs/illustrations-products/Premium.png" height="50px">
        </div>
        <h1>Premium</h1>
        <hr style="border: 1px solid rgba(255, 255, 255, 0.562);margin-top: 10px;">
      </div>
      <h3 class="economy">Economize 58%</h3>
      <div class="corp-product">
        <span>12 meses</span>
        <div class="price-container">
          <span class="sign-money">R$</span>
          <span class="prices price">129,99</span>
          <span>BRL</span>
        </div>
        <span class="ofert"><s>R$ 1238,99</s> <span class="price-correct">R$ 289,99</span> pelo(s) dois primeiros
          ano.</span>
      </div>
      <a href="" class="btn-purchase"><i class="fas fa-shopping-cart icon-purchase"></i> Obter Plano</a>
    </div>
    <div class="card card-diamond">
      <div style="width:80%;">
        <div class="img-animation">
          <img src="imgs/illustrations-products/diamante.png" height="50px">
        </div>
        <h1>Diamond</h1>
        <hr style="border: 1px solid rgba(255, 255, 255, 0.562);margin-top: 10px;">
      </div>
      <div class="corp-product">
        <span>6 meses</span>
        <div class="price-container">
          <span class="sign-money">R$</span>
          <span class="prices price">43,99</span>
          <span>BRL</span>
        </div>
        <span class="ofert"><s>R$ 538,99</s> <span class="price-correct">R$ 129,99</span> pelo(s) primeiro
          ano.</span>
      </div>
      <a href="" class="btn-purchase"><i class="fas fa-shopping-cart icon-purchase"></i> Obter Plano</a>
    </div>
  </div>
</section>
<hr class="split"
  style="border: none;height: 1px;background: linear-gradient(to right,rgb(0, 119, 255), rgb(236, 66, 66), rgb(55, 0, 255));">
<footer>
  <div class="stand">
    <span>Disponível para download em:</span>
    <div class="group-img">
      <a href="" class="img-a">
        <div class="img-representation">
          <img src="/imgs/illustrations-service-footer/google-play.svg" width="35px">
          <span>Google Play</span>
        </div>
      </a>
      <a href="" class="img-a">
        <div class="img-representation">
          <img src="/imgs/illustrations-service-footer/apple.svg" width="35px" />
          <span>App Store</span>
        </div>
      </a>
    </div>
  </div>
  <hr class="split"
    style="border: none;height: 1px;background: linear-gradient(to right,rgb(0, 119, 255), rgb(236, 66, 66), rgb(55, 0, 255));">
  <div class="topics">
    <div class="links">
      <div class="title-links">
        <h1>Serviços</h1>
      </div>
      <a href="">Lorem</a>
      <a href="">Lorem</a>
      <a href="">Lorem</a>
      <a href="">Lorem</a>
      <a href="">Lorem</a>
    </div>
    <div class="links">
      <div class="title-links">
        <h1>Sobre nós</h1>
      </div>
      <a href="">Onde ficamos</a>
      <a href="">Propósito</a>
      <a href="">Lorem</a>
      <a href="">Lorem</a>
      <a href="">Lorem</a>
    </div>
    <div class="links">
      <div class="title-links">
        <h1>Ajuda</h1>
      </div>
      <a href="">Conexão</a>
      <a href="">Recuperar Conta</a>
      <a href="">Bugs</a>
      <a href="">Sugestões</a>
      <a href="">Fale Conosco</a>
    </div>
    <div class="links">
      <div class="title-links">
        <h1>Redes Sociais</h1>
      </div>
      <a href=""><i class="fab fa-instagram"></i> Instagram</a>
      <a href=""><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href=""><i class="fab fa-github"></i> Github</a>
      <a href=""><i class="fab fa-twitter"></i> Twitter</a>
      <a href=""><i class="fab fa-youtube"></i> Youtube</a>
      <a href=""><i class="fab fa-facebook"></i> Facebook</a>
    </div>
  </div>
  <hr class="split"
    style="border: none;height: 1px;background: linear-gradient(to right,rgb(0, 119, 255), rgb(236, 66, 66), rgb(55, 0, 255));">
  <div class="copyright">
    <span>Copyright © 2021 SemNome Brasil. Designed By <span>Jackson</span></span>
  </div>
</footer>