<nav class="navbar">
  <img src="imgs/icons8-redux.svg" alt="Logo" width="80px">
  <ul class="nav-items">
    <li><a href="lorem">Home</a></li>
    <li><a href="lorem">About</a></li>
    <li><a href="lorem">Support</a></li>
  </ul>
  <div class="account">
    {{#if session}}
    {{#each user}}
    <nav class="menu">
      <ul>
        <li><a href="#">{{dataValues.name}}</a>
          <ul>
            <li><a href="/logout/{{dataValues.id}}">Logout</a></li>
            <li><a href="/delete/{{dataValues.id}}">Remover Conta</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    {{/each}}
    {{else}}
    <a href="/login" class="btn-login">Entrar</a>
    <a href="/register" class="btn-register">Registrar</a>
    {{/if}}
  </div>
</nav>
<section class="section-main">
  <section class="section-one">
    <div class="introduction">
      <h1>Lorem Ipsum Dolor Sit Amet Consectetur adipiscing elit.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </p>
      <a href="" class="btn-announcement">Contratar Agora</a>
    </div>
    <div class="img-illustration">
      <img src="imgs/Server status-amico.svg" height="600px" width="600px">
    </div>
  </section>
  <section class="section-two">
    <div class="apresentation">
      <div class="apresentation-text">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Tincidunt vitae semper
          quis lectus nulla. Lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
      </div>
      <img src="/imgs/illustrations-service/Server-amico.svg" width="580px">
    </div>
    <div class="apresentation">
      <img src="/imgs/illustrations-service/Server-pana.svg" width="580px">
      <div class="apresentation-text">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Tincidunt vitae semper
          quis lectus nulla. Lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
      </div>
    </div>
    <div class="apresentation">
      <div class="apresentation-text">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Tincidunt vitae semper
          quis lectus nulla. Lacus laoreet non curabitur gravida arcu ac tortor dignissim.</p>
      </div>
      <img src="/imgs/illustrations-service/Server-rafiki.svg" width="580px">
    </div>
  </section>
  <section class="section-three">
    <div class="title-container">
      <h1 class="title-products">Lorem Ipsum Dolor Sit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p>
    </div>
    <div class="cards">
      <div class="card card-basic">
        <div style="width:80%;">
          <div class="img-animation">
            <img src="imgs/illustrations-products/basic.png" height="50px">
          </div>
          <h1>Basic</h1>
          <hr style="border: 1px solid rgba(255, 255, 255, 0.562);margin-top: 10px;">
        </div>
        <div class="corp-product">
          <span>1 mês</span>
          <div class="price-container">
            <span class="sign-money">R$</span>
            <span class="prices price">23,99</span>
            <span>BRL</span>
          </div>
          <span class="ofert">R$ 23,99 por mês</span>
        </div>
        <a href="" class="btn-purchase"><i class="fas fa-shopping-cart icon-purchase"></i> Obter Plano</a>
      </div>
      <div class="card card-premium" style="height: 500px;">
        <div style="width:80%;">
          <div class="img-animation">
            <img src="imgs/illustrations-products/Premium.png" height="50px">
          </div>
          <h1>Premium</h1>
          <hr style="border: 1px solid rgba(255, 255, 255, 0.562);margin-top: 10px;">
        </div>
        <h3 class="economy">Economize 58%</h3>
        <div class="corp-product">
          <span>12 meses</span>
          <div class="price-container">
            <span class="sign-money">R$</span>
            <span class="prices price">129,99</span>
            <span>BRL</span>
          </div>
          <span class="ofert"><s>R$ 1238,99</s> <span class="price-correct">R$ 289,99</span> pelo(s) dois primeiros
            ano.</span>
        </div>
        <a href="" class="btn-purchase"><i class="fas fa-shopping-cart icon-purchase"></i> Obter Plano</a>
      </div>
      <div class="card card-diamond">
        <div style="width:80%;">
          <div class="img-animation">
            <img src="imgs/illustrations-products/diamante.png" height="50px">
          </div>
          <h1>Diamond</h1>
          <hr style="border: 1px solid rgba(255, 255, 255, 0.562);margin-top: 10px;">
        </div>
        <div class="corp-product">
          <span>6 meses</span>
          <div class="price-container">
            <span class="sign-money">R$</span>
            <span class="prices price">43,99</span>
            <span>BRL</span>
          </div>
          <span class="ofert"><s>R$ 538,99</s> <span class="price-correct">R$ 129,99</span> pelo(s) primeiro
            ano.</span>
        </div>
        <a href="" class="btn-purchase"><i class="fas fa-shopping-cart icon-purchase"></i> Obter Plano</a>
      </div>
    </div>
  </section>
</section>
<hr class="split"
  style="border: none;height: 1px;background: linear-gradient(to right,rgb(0, 119, 255), rgb(236, 66, 66), rgb(55, 0, 255));">
<footer>
  <div class="stand">
    <span>Disponível nas seguintes plataformas:</span>
    <div class="group-img">
      <div class="img-representation">
        <img src="/imgs/illustrations-service-footer/google-play.svg" width="35px">
        <span>Google Play</span>
      </div>
      <hr>
      <div class="img-representation">
        <img src="/imgs/illustrations-service-footer/linux.png" width="35px">
        <span>Linux</span>
      </div>
      <hr>
      <div class="img-representation">
        <img src="/imgs/illustrations-service-footer/windows-10.svg" width="35px">
        <span>Windows 10</span>
      </div>
    </div>
  </div>
  <hr class="split"
    style="border: none;height: 1px;background: linear-gradient(to right,rgb(0, 119, 255), rgb(236, 66, 66), rgb(55, 0, 255));">
</footer>