<h1>Login</h1>
<form action="/authenticate" method="POST">
  <label for="login">Login</label>
  <input type="text" placeholder="Login" id="login" name="login">
  <label for="password">Password</label>
  <input type="password" placeholder="Password" id="password" name="password">
  <button type="submit">Enviar</button>
</form>