<head>
  <link rel="stylesheet" href="/css/login.css">
</head>
<div class="center">
  <form action="/login" method="POST" autocomplete="off">
    <h1>Login</h1>
    <div class="txt_field">
      <input type="text" name="login" required>
      <span></span>
      <label for="login"><i class="fas fa-user"></i> Login</label>
    </div>
    <div class="txt_field">
      <input type="password" name="password" required>
      <span></span>
      <label for="password"><i class="fas fa-key"></i> Password</label>
    </div>
    <div class="pass">
      <a href="">Esqueceu a senha?</a>
    </div>
    <button type="submit">Login</button>
    <div class="accounts_types">
      <span>Ou faça o Login com</span>
      <div>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-apple"></i>
      </div>
    </div>
    <div class="sign-up">
      Não tem uma conta?<a href="/register"> Registre-se</a>
    </div>
  </form>
</div>