@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@200;300&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 70px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  font-size: 15px;
  z-index: 2;
  transition: all ease-in-out 300ms;
}

.navbar .nav-items{
  display: flex;
}

.navbar .nav-items a:hover {
  transition: all ease-in-out 200ms;
  color: #ccc;
}

.navbar ul {
  list-style: none;
  position: relative;
}

.navbar ul li a i {
  transition: all ease 250ms;
}

.navbar ul li:hover a i {
  transform: rotate(180deg);
}

.navbar a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.navbar ul ul {
  background-color: rgba(68, 68, 68, 0.767);
  position: absolute;
  visibility: hidden;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  left: 0;
  top: 50%;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}

.navbar ul li:hover ul {
  visibility: visible;
  opacity: 1;
  zoom: 1;
  top: 100%;
}

.navbar .account ul {
  width: 140px;
}

.navbar .account {
  margin-right: 20px;
}

.navbar ul ul a {
  padding: 10px;
}

.navbar ul ul li {
  width: 100%;
}

.navbar ul ul li:hover a {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: all 150ms ease-in-out;
}


.navbar ul ul li {
  border-bottom: solid 1px #ccc;
}
.navbar ul ul li:last-child {
  border: none;
}

/* navbar items*/
.buttons-account {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buttons-account > a {
  padding: 0;
}

.buttons-account .btn-login {
  padding: 5px;
  transition: all ease 200ms;
}

.buttons-account .btn-login:hover {
  color: #ccc;
}

.btn-register {
  width: 100px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
}

.btn-register::before{
  background: linear-gradient(to left, rgb(201, 41, 250), rgb(228, 66, 66));
  left: 0;
  top: 100%;
}
/*Section Main*/

.start-session {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../imgs/background.svg ');
  background-color: rgb(38, 38, 49);
  color: rgb(214, 214, 214);
  padding: 0;
  margin: 0;
  display: flex;
}

.start-session .introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  text-align: center;
}

.start-session .introduction, .start-session img {
  animation: aparecer 1s ease-in-out forwards;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.start-session .introduction > .titles * {
  padding: 10px;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.announcement * {
  padding: 2px;
}

.announcement span {
  font-family: 'Rajdhani', sans-serif;
}

.announcement i {
  color: rgba(211, 211, 211, 0.726);
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all ease-in 200ms;
  border: none;
  text-align: center;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";

  position: absolute;
  transition: all ease-in-out 500ms;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.btn-announcement {
  width: 230px;
  height: 50px;
  border: 1px solid rgba(199, 86, 243, 0.774);
  font-family: 'Rubik', sans-serif;
}

.btn-announcement::before {
  background: linear-gradient(to left, rgb(206, 51, 147), rgb(182, 35, 240));
  left: -100%;
  top: 0;
}

.btn:hover::before {
  top: 0;
  left: 0;
}

.start-session .introduction div > h1 {
  font-size: 40px;
  font-family: "Spartan", sans-serif;
}

.start-session .introduction div > p {
  font-size: 20px;
}

.btn-announcement button{
  padding: auto;
  margin: auto;
}

/*Sessao de Apresentação de produto*/

.apresentation-session {
  background-color: white;
  color: rgba(44, 44, 44, 0.925);
}

.apresentation-session .stand-apresentation > h1 {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.apresentation-session .apresentation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.apresentation-session .apresentation img {
  animation: fly 1s ease-in-out alternate infinite;
}

@keyframes fly {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(20px);
  }
}

.apresentation-session .apresentation .apresentation-text p{
  font-size: 20px;
  font-family: 'Spartan', sans-serif;
}

.apresentation-session .apresentation h1 {
  font-size: 30px;
}

.stand-apresentation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.stand-apresentation div > i {
  font-size: 25px;
  padding: 5px;
  transition: all ease-in 100ms;
}

.stand-apresentation div > i:hover {
  transform: scale(1.10);
}

.product-purchase {
  background: linear-gradient(to right, rgb(36, 45, 92),rgb(31, 22, 22),rgb(20, 21, 51),rgb(57, 36, 92));
  text-align: center;
  color: rgb(214, 214, 214);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-size: 300% 300%;
  animation: degrade 8s ease alternate infinite;
}

@keyframes degrade {
  from {
    background-position: 0 0;
  }
  to{
    background-position: 100%;
  }
}

/*Comments*/
.info-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-info a {
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  transition: all ease-in-out 200ms;
  position: relative;
}

.title-info a > i {
  transition: all ease-in-out 250ms;
}

.title-info a:hover > i {
  transform: rotate(135deg);
}

.title-info {
  font-family: "Rubik", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.title-info .options i{
  font-size: 25px;
  margin: 5px;
}

.info {
 width: 360px;
 height: 350px;
 border: 1px solid rgba(66, 66, 66, 0.418);
 box-shadow: 0 0 10px rgba(51, 51, 51, 0.452);
 font-size: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 color: rgba(31, 31, 31, 0.877);
 border-radius: 5px;border-radius: 10px;
}

.info .body-info {
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  padding: 0px 5px;
  text-align: center;
}

.title-info-card {
  font-family: 'Spartan', sans-serif;
  font-size: 13px;
  color: #222;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-info-card h1 {
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.title-info-card i {
  font-size: 39px;
  color: rgb(58, 58, 58);
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.info:hover .title-info-card i {
  animation: icon-balanced 200ms ease alternate;
  animation-iteration-count: 4;
}

@keyframes icon-balanced {
  from{
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.title-info-card hr {
  border: none;
  height: 1px;
  background: linear-gradient(to left, rebeccapurple, steelblue, turquoise);
  margin: 5px 0px;
}

.info > a {
  text-decoration: none;
  font-family: 'Spartan', sans-serif;
  font-size: 13px;
  color: #222;
  font-weight: bold;
  transition: all 200ms ease;
}

.info > a:hover {
  color: rgba(53, 53, 53, 0.822);
}

.info > a i {
  font-size: 17px;
  background-image: linear-gradient(to bottom, rgb(238, 175, 92), rgb(224, 136, 53), rgb(224, 69, 42));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}


.infos-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-flow: wrap;
  padding: 20px;
}
/*Cards*/

.title-products {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 30px 0px;
}

.economy {
  background-color: rgba(240, 88, 88, 0.932);
  padding: 5px;
  color: rgb(243, 182, 182);
  border-radius: 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 360px;
  text-align: center;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 3px 7px rgba(71, 71, 71, 0.514);
  border: solid 1px rgb(121, 121, 121);
  background: linear-gradient(to left, rgb(29, 29, 41),rgb(31, 31, 39), rgb(49, 49, 87));
  color: rgb(201, 200, 200);
  white-space: normal;
  padding: 10px 0px;
  margin: 0px 20px;
  transition: all ease-in 180ms;
}

.card:hover {
  transform: scale(1.02);
}

.card p {
  font-size: 17px;
}

.card a {
  text-decoration: none;
}

/*Button Cards*/
.card .btn-purchase {
  border-radius: 5px;
  padding: 10px 30px;
  transition: all ease-in-out 0.3s;
  color: rgb(39, 39, 39);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
}
.card .btn-purchase:hover {
  padding: 10px 70px;
}

.card-basic .btn-purchase {
  color: white;
  background-color: rgb(99, 162, 221);
}
.card-basic .btn-purchase:hover {
  background-color: rgb(16, 119, 214);
}

.card-premium {
  border: 3px solid rgba(221, 99, 99, 0.589);
}
.card-premium:hover {
  border: 3px solid rgb(221, 99, 99);
}
.card-premium .btn-purchase {
  color: white;
  background-color: rgb(221, 99, 99);
}
.card-premium .btn-purchase:hover {
  background-color: rgb(209, 65, 65);
}

.card-diamond .btn-purchase {
  background-color: rgb(173, 74, 197);
  color: white;;
}
.card-diamond .btn-purchase:hover{
  background-color: rgb(147, 23, 179);
}

.icon-purchase {
  font-size: 16px;
  transition: all ease-in 0.4s;
}

.btn-purchase:hover .icon-purchase {
  transform: rotate(360deg);
  transition: all ease 0.7s;
}

.corp-product {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.card .prices {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.card .price {
  font-family: 'Rubik', sans-serif;
}

.price-container {
  display: flex;
}
/**/

.prices-descont {
  font-size: 14px;
}

.original-value {
  color: rgb(245, 76, 76);
}

.descont {
  color: rgba(152, 243, 91, 0.842);
}

.ofert {
  font-size: 12px;
  font-weight: bold;
}

.ofert s {
  color: rgb(221, 170, 75);
}

.ofert .price-correct {
  color: rgb(75, 221, 172);
}

.sign-money {
  font-size: 25px;
}

div p {
  font-family: 'M PLUS 1 Code', sans-serif;
}

/* Account Log */

.menu a:hover {
  width: 100%;
  height: 50px;
  background-color: #222;
}

/*Stand*/
footer {
  background: linear-gradient(to right, rgb(29, 29, 41),rgb(31, 31, 39), rgb(49, 49, 87));
}

.split {
  color: red;
}

.stand {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stand > span {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  color: white;
}

.group-img {
  display: flex;
}

.img-a {
  text-decoration: none;
}

.img-representation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: rgba(18, 21, 41, 0.432);
  border-radius: 5px;
  padding: 5px 20px;
  margin: 5px 5px;
  transition: all ease-in-out 100ms;
}

.img-a:hover .img-representation {
  background: linear-gradient(to right, rgba(98, 0, 255, 0.555), rgba(88, 174, 255, 0.774));
  transform: scale(1.07);
}

.img-representation span{
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  text-decoration-line: overline;
  text-decoration-style: dashed;
  text-decoration-color: rgba(255, 255, 255, 0.877);
}