@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@200;300&family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../imgs/Login/background-register.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.center {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  animation: show-form 800ms cubic-bezier(.58,0,.38,.96) alternate forwards;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 30px 5px rgba(39, 39, 39, 0.322);s
}

@keyframes show-form {
  from {
    top: 50%;
    left: -50%;
    opacity: 0.1;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

.center form h1 {
  text-align: center;
  color: #727272;
  background-image: linear-gradient(to bottom, rgb(60, 123, 196), rgb(67, 230, 194), rgb(29, 127, 192));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.line {
  height: 2px;
  width: 100%;
  background: linear-gradient(to left, rgb(60, 123, 196), rgb(67, 230, 194), rgb(29, 127, 192));
}

.center form {
  box-sizing: border-box;
  padding: 0px 40px;
  width: 100%;
}

form .input-box {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0px;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 0 5px;
  background: none;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  font-size: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all ease-in-out .2s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
  top: -3px;
  color: rgba(61, 189, 129, 0.822);
  font-size: 14px;
}

.input-box span::before {
  content: '';
  position: absolute;

  background: rgba(68, 235, 157, 0.74);

  width: 0%;
  height: 2px;
  transition: .4s;
}

.input-box input:focus ~ span::before,
.input-box input:valid ~ span::before{
  background: rgb(68, 235, 157);
  width: 100%;
}

form button[type="submit"] {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: white;
  border: none;
  cursor: pointer;
  margin: 20px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

form button[type="submit"]::before {
  content: '';

  position: absolute;

  opacity: 1;

  width: 100%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  background: red;
  transition: .7s;
  background: linear-gradient(to left, rgb(32, 230, 203), rgb(34, 133, 226),rgb(33, 224, 161));
}

form button[type="submit"]:hover::before {
  width: 200%;
}

.member {
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.member a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
  transition: .2s;
}

.member a:hover {
  color: #727272;
}
.card {
  width: 100%;
  background-image: url('../imgs/Login/backcard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 0px 0px 10px;
  background-position: 96%;
}

.card h1 {
  font-size: 24px;
  position: relative;
  overflow: hidden;
}
.card h1::before {
  content: '';
  position: absolute;

  background: linear-gradient(to left, rgb(30, 230, 187), rgb(88, 167, 241), rgb(38, 241, 163));
  width: 0%;
  height: 100%;

  top: 95%;

  animation: underline-movie .7s ease-in-out alternate infinite;
  animation-delay: 1s;
}

@keyframes underline-movie {
  from {
    width: 0%;
    transform: translateX(-99%);
  }to {
    width: 120%;
    transform: translateX(99%);
  }
}

.card div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.card a {
  border: 1px solid rgb(255, 255, 255);
  width: 200px;
  text-align: center;
  padding: 15px 10px;
  margin: 10px 0px;
  text-decoration: none;
  color: white;
  transition: .5s;
  border-radius: 5px;
}

.card a:hover {
  color: black;
  background-color: white;
}
.terms {
  font-size: 14px;
}

.terms strong {
  color: #3cbfe7;
  display: block;
}

.notification {
  position: absolute;
  background-color: rgb(48, 48, 48);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 280px;
  text-align: center;
  padding: 5px;
  z-index: 2;
  border: 2px solid rgb(180, 180, 180);
  animation: opacity 800ms ease-in-out alternate forwards;
  float: right;
}

@keyframes opacity {
  from{
    opacity: 0;
  }to {
    opacity: 1;
  }
}

.notification button {
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  transition: .3s;
}

.notification button:hover {
  color: rgb(240, 73, 73);
}

.notification .title-notification {
  border-bottom: 2px solid #adadad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.notification > span {
  padding: 10px;
  display: block;
}

.notification button:focus .notification,
.notification button:valid .notification{
  display: none;
}